# Los siguientes usuarios pueden modificar libremente la carpeta Equip_E
/Equip_E/  @Cris-cum @Diliana1 @Sara-GA @eve5172 @RodrigoScarafia @ibkbcn

# Los siguientes usuarios pueden modificar libremente la carpeta Equip_F
/Equip_F/  @ErrePad @NataliaBCN @luybashu

# Los siguientes usuarios pueden modificar libremente la carpeta Equip_G
/Equip_G/ @eleternoaprendiz @LoFloAb @damcaravelli @edoardobrega @Storkower  
