
# Los siguientes usuarios pueden modificar libremente la carpeta Equip_G
/Equip_G/ @eleternoaprendiz @LoFloAb @damcaravelli @edoardobrega @Storkower  

# Los siguientes usuarios pueden modificar libremente la carpeta Equip_G
/Equip_10/ @aleix-gb @FatimaMoshayedi @Isanagui1818 @gbrlcastro @Giusebuompane

# Los siguientes usuarios pueden modificar libremente la carpeta Equip_G
/Equip_9/ @Luciatrinidad @FEC1 @Muriburu @RaquelLimpo @DigitalBlasco
